<ng-template [nzModalTitle]>
    <div class="dialog-title">Create Your Game Club</div>
</ng-template>

<form nz-form [nzLayout]="'vertical'" [formGroup]="submitForm" (ngSubmit)="onSave()">
    <nz-form-item>
        <nz-form-label nzRequired>Name</nz-form-label>
        <nz-form-control nzErrorTip="This field is required">
            <input nz-input formControlName="name" placeholder="Input club name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Description</nz-form-label>
        <nz-form-control>
            <textarea nz-input [rows]="3" formControlName="description" placeholder="Input club description"></textarea>
        </nz-form-control>
    </nz-form-item>
</form>

<ng-template [nzModalFooter]>
    <button [nzLoading]="saving" nz-button nzType="primary" (click)="onSave()" nzBlock>Save</button>
</ng-template>