<div class="container">
    <button [routerLink]="['/']" nz-button nzType="default"><span nz-icon nzType="arrow-left" nzTheme="outline"></span>
        Back</button>
    <div class="page-header">
        <h1>{{club?.name??'...'}}</h1>
    </div>
    <nz-divider></nz-divider>
    @if(club){

    <div class="list-header">
        <h2 class="header">
            All Events
        </h2>
        <div class="actions">
            <input disabled nz-input placeholder="Input keyword to filter the list....">
            <button nz-button nzType="primary" (click)="openCreateDialog()">
                <span nz-icon nzType="plus" nzTheme="outline"></span> Add Event
            </button>
        </div>
    </div>
    <div class="list">
        <ng-container *ngFor="let item of events">
            <app-club-event-box [data]="item"></app-club-event-box>
        </ng-container>
        <ng-container *ngIf="loading">
            <div class="loading">
                <span nz-icon nzType="loading" nzTheme="outline"></span>
            </div>
        </ng-container>
    </div>
    <div *ngIf="totalItems>events.length" style="margin-top: 12px;">
        <button nz-button nzType="primary" (click)="loadMore()">Load more events...</button>
    </div>
    }
    @else {
    <div class="loading">
        <span nz-icon nzType="loading" nzTheme="outline"></span>
    </div>
    }
</div>